footer {
    position: fixed;
    text-align: center;
    color: black;
    bottom: 0px;   
}

body {
    background-image: linear-gradient(yellow, orange);
}

#notes {
    width: 300px;
    height: 300px;
}

#reformat {
    width: 300px;
    height: 300px;
}

#weather {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 400px){
    .container {
        width: 360px;
    }
    footer {
        width: 360px;
    }
}
/* modified footer and added media query */
